@import "variables";
@import "mixin";


body{
    font-family: 'Noto Serif', serif;
    font-family: 'Noto Serif JP', serif;
    color: $font;
    box-sizing: border-box;
}

.wrap{
    overflow-x:hidden;
}

p{
    font-size: 16px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: $font;
}

.section-title{
    font-size: 60px;
    font-weight: bold;
    font-style: italic;

    &::after{
        content: "";
        display: inline-block;
        background-color: $font;
        width: 200px;
        height: 5px;
        margin-left: 30px;
        vertical-align: middle;
    }
}

.section-wrapper{
    // padding-left: 120px;
    // padding-right: 120px;
    margin:0 auto;
    // max-width: 120;
}

.section-inner{
    // padding-left: 100px;
    // padding-right: 100px;
    max-width:1100px;
    margin:0 auto;
    padding: 0 50px;
}

.section-title{
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1000px;
}

.title-right{
    color: #FFFFFF;
    text-align: right;
    margin:0 auto;
    max-width: 1200px;

    &::after{
        content: "";
        background-color: $white;
    }
}

.section-bottom{
    padding-bottom: 70px;
    font-size: 90px;
    font-weight: bold;
    text-align: right;
    max-width: 1200px;
    margin: 0 auto;
    color: $white-font;
    opacity: .05;
}

.bottom-black{
    text-align: left;
    color: $white;
    opacity: .1;
}

img{
    width: 100%;
    vertical-align: bottom;
}

.link-btn{
    display: block;
    width: 235px;
    height: 59px;
    background-color: $button-bg;
    color: $font;
    font-weight: bold;
    padding: 19px 71px;
    border-radius: 30px;
    margin: 0 auto 70px;
    box-shadow: 0px 0px 6px #1B1310;
    text-align: center;
    transition: 0.3s;

    &:hover{
        opacity: .7;
        transition: 0.3s;
    }
}

// HEADER------------------------------------
header{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: .3s;
    .header-inner{
        max-width: 1220px;
        margin:19px auto 0;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &-left{

            .header-title{
                font-size: 26px;
                font-weight: bold;
                color: $white;
            }

        }
        &-right{
            display: flex;
            .header-list{
                display: flex;
                .header-item{
                    padding-left: 30px;
                    // padding-top: 9px;
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
}

.fixed{
    position: fixed;
    background-color: $font;
    padding-bottom: 20px;
    width: 100%;
    transition: .3s;
}

// MAIN-BG---------------------------------
.main-bg{
    height: 100vh;
    background-size: cover;
    min-height: 550px;
    background-position: center;
    position: relative;

    .main-copy{
        position: absolute;
        bottom:172px;
        left:120px;
        font-weight: bold;
        color: $white;

        .en-copy{
            font-size: 70px;
            margin-bottom: 31px;
        }

        .jp-copy{
            font-size: 40px;
            text-align: center;
        }
    }

    img{
        height: 100vh;
        object-fit: cover;
        min-height: 550px;
    }
}

.slick-arrow{
    display: none !important;
}

// CONCEPT ------------------------------------------------
.concept{
    .section-title{
        margin-bottom: 70px;
    }

    .section-lead{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 60px;
    }

    &-description{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 70px;
        &-text{
            padding-top: 107px - 60px;
            line-height: 30px;
            width: 440px;
            font-weight: bold;
        }
        &-img{
            margin-left: 20px;
            height: 240px;
            img{
                height: auto;
                max-width: 440px;
            }
        }
    }
}

// WORKS ------------------------------------------------------
.works{
    background-image: url("../img/works-bgi@2x.jpg");
    background-size: cover;
    background-position: center;
    .section-title{
        padding-top: 104px;
        padding-bottom: 80px;
    }

    .section-inner{
        .works-list{

            display: flex;
            justify-content: space-between;
            .works-item{
                background-color: #fff;
                width: 32%;
                box-shadow: 0px 0px 6px #000000;
                opacity: 1;
                margin-bottom: 80px;

                &-text{
                    padding:25px 20px;
                }
            }
        }
    }
}

// SERVICE-------------------------------------------------------
.service{
    .section-title{
        padding-bottom: 80px;
    }

    .service-list{
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
        .service-item{
            width: 33.333334%;

            &-text{
                color: $white;
                font-size:40px ;
                line-height: 320px;
                font-weight: bold;
                text-align: center;
                transition: .3s;
                margin-bottom: 70px;
                // box-sizing: border-box;
                &:hover{
                    background-color: rgba(40,47,53,.7);
                    transition: .3s;
                }
            }

            &:nth-child(1){
                background-image: url("../img/service-img01@2x.jpg");
                // background-size: cover;

            }
            &:nth-child(2){
                background-image: url("../img/service-img02@2x.jpg");
            }
            &:nth-child(3){
                background-image: url("..\img\service-img03@2x.jpg");
            }
        }
    }
}

// CONTACT -------------------------------------------------------
.contact{
    background-image: url("../img/contact-page-bgi@2x.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;

    .section-title{
        padding-bottom: 80px;
        max-width: 1200px;
    }

    &-text{
        color: $white;
        padding-bottom: 40px;
    }
}

// FOOTER-----------------------------------------------------------
footer{
    text-align: center;
    padding: 30px 0px;
    font-weight: bold;
}

// About Resposive----------------
.sp-br{
    display: none;
}